html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'roboto';
  font-weight: 900;
}

ul {
  margin: 50px 0 50px 0;
  font-size: 1.4rem;
  line-height: 50px;
}

p {
  color: #8f8f8f;
  font-size: .9rem;
} 

/* section background */

.colored-section{
  background-color: #ff5050;
  /* background-color: black; */
  color: white;
}

.white-section {
  background-color: white;
}

/* heading */

.big-heading {
  line-height: 1.5;
  font-size: 3.5rem ;
}

.section-heading {
  font-size: 2.5rem;
}


/* title section */

.navbar {
  padding:0 0 5rem;
}

.nav-text {
  text-decoration: none;
  color: white;
  padding: 10px;
  margin: 15px;
}

.nav-text:hover {
  text-decoration: none;
  color: white;
}

.title-container {
  padding: 3% 15%;
}


/* About section */

.a-contact {
  color: inherit;
}

.a-contact:hover {
  color: inherit;
  text-decoration: underline;
}

.lift-up {
  margin: 5px;
  border: 1px solid #ff5050;
  border-radius: 50px;
  transition: all .3s ease-in-out;
}

.lift-up:hover {
  border: 1px solid white;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -1px, 0px);
}

.skill-text {
  width: 50%;
}

@media (max-width: 991px) {
  .lift-up {
    display: inline-block;
    width: 100%;
  }
}


.fa-star, .fa-star-half {
  color: yellow;
}

/* footer section */

#footer {
  padding: 7% 15%;
  background-color: black;
}

.footer-icons a i{
  color: white;
  padding: 15px 8px;
}